body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #6dd8d3;
    color: white;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #458683;
}
